@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbarSection{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 50px;
  box-shadow: 0 2px 1px rgba(0,0,0,0.09), 0 4px 2px rgba(0,0,0,0.09), 0 8px 4px rgba(0,0,0,0.09), 0 16px 8px rgba(0,0,0,0.09), 0 32px 16px rgba(0,0,0,0.09);
  /* background-color: #25D366;
  color: white; */
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 1;
 
}

.HomeLink{
  color: orangered;
  text-decoration: none;
}

.userAuth{
  color: orangered;
}

.itemSection{
  /* border: 2px solid red; */
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
  gap: 10px;
  justify-content: center;
  margin-top: 40px;
}

.itemSection .items img{
  /* border: 2px solid blue; */
  height: 170px;
  /* border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
}

.componentContainer{
  padding: 0 100px;
}

@media (max-width: 769px) {
  .navbarSection{
      padding: 0;
  }

}


@media(max-width: 800px){
  .itemSection .items img{
      height: 100px;
    }
    .itemSection {
      display: grid;
      grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
      gap:10px;
    }
    .componentContainer{
      padding: 0 20px;
    }
}

@media(max-width:400px){
  .itemSection .items img{
    height: 70px;
  }
  .itemSection {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(70px,1fr));
    gap:10px;
  }
  .componentContainer{
    padding: 0;
  }
}

/* chains.jsx */

.loader{
  display: flex;
  justify-content: center;
  align-items: center;
}
.chainContainer h3{
  text-align: center;
}
.firmSection{
  /* border: 2px solid red; */
  margin-top: 40px;
  display: flex;
  overflow-x: hidden;
}
.vendorInfo{
  display: flex;
  flex-wrap: nowrap;
}

.firmInfo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 30px;
  font-weight: 400;
}

.imageContainer img{
  /* border: 1px solid red; */
  width: 280px;
  height: 180px;
  border-radius: 10px;

  
}

.buttonSection{
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: 50px;
  gap: 10px;
  /* border: 2px solid red; */

}

.buttonSection button{
  border: none;
  background: none;
}

.material-symbols-outlined {
  font-size: 28px; /* Adjust size */
  vertical-align: middle;
 
}


/* FirmSection.jsx */

.firmContainer{
  margin: 70px 0;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  
}
.firmContainer h3{
  text-align: center;
}

.filterButton{
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border: 2px solid red; */
  width: 100%;
  max-width: 50%;
}

.btn {
  border-radius: 5px;
  background-color: orangered;
  color: #fff;
  width: 100px;
  height: 30px;
  border: none;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
  background-color: darkorange;
  transform: scale(1.05);
}

.btn:active {
  background-color: red;
  transform: scale(0.95);
}

.btn:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(255, 69, 0, 0.9);
}



.imageBlock img{
  
  width: 226px;
  height: 170px;
  border-radius: 10px;
  object-fit: cover;
  
} 

.imageBlock{
  position: relative;
  /* border: 2px solid blue; */
}
.offerDiv{
  /* border: 1px solid red; */
  width: 100%;
  position: absolute;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  bottom: 6px;
  text-align: center;
  font-size: 1rem;
  padding-bottom: 8px;
  padding-top: 16px;
  background: transparent;
  background: linear-gradient(to bottom, rgba(50,0,0,0.08),black);
  color: white;
  text-transform: uppercase;
}
.firmName{
  font-size: 1.1rem;
  text-align: center;
}
.firmDetails{
  color: gray;
  font-weight: 300;
  text-align: center;
  
}
.firmDataSection{
  width: 100%;
  /* border: 2px solid black; */
  display: grid;
  grid-template-columns: repeat(auto-fit, 225px);
  gap: 60px;
  justify-content: center;
}

.firmData{
  text-decoration: none;
}

#Link{
  color: black;
  text-decoration: none;
}




/* productMenu.jsx */

#firmName{
  text-align: center;
}
.productSection{
  margin-top: 50px;
  padding: 10px 150px;
}

.productDetails{
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;

}

.aboutProduct #productName{
  color: orangered;
}

.productDetails img{
  width: 150px;
  height: 100px;
  border-radius: 10px;
  box-shadow: 0px 25px 20px -20px rgba(0, 0, 0, 0.45);
}

.productImage{
  position: relative;
  
}

.productButton{
  text-align: center;
  color: green;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid gray;
  width: 100%;
  max-width: 100px;
  position: absolute;
  bottom: 0;
  left: 25px;
  
}

.aboutProduct{
  display: flex;
  flex-direction: column;
}

@media(max-width:576px){
  .chainContainer h3{
    text-align: left;
  }
  .buttonSection{
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 46px;
    gap: 7px;
    /* border: 2px solid red; */
  
  }
  .filterButton{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */
    max-width: 100%;
    gap:10px;
  }
  .btn {
    border-radius: 5px;
    background-color: orangered;
    color: #fff;
    /* width: 100px;
    height: 30px; */
    border: none;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  .productSection{
    margin-top: 50px;
    padding: 10px 0;
  }
  .firmSection {
    margin-top: 15px;
    padding: 15px 0;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }
  
  
  .firmInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
    
  }
  .imageContainer img {
    width: 200px;
    height: 130px;
  }
  .firmContainer{
    margin: 20px 0;
  }
 
  
  
}